<h1>Chatting with <%= @conversation.with(current_user).name %></h1>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.personal_messages %>
  </div>

  <%= simple_form_for @personal_message do |f| %>
    <%= f.hidden 'conversation_id', @conversation.id %>
    <%= f.text :body %>

    <%= f.submit %>
  <% end %>
</div>
