<ul>
  <% @notifications.each do |notification| %>
    <% if notification.notifiable_type == 0 %>
    <li>
      <%= "Accept Tournament Invite from #{notification.notifiable.remote_tournament.name}?" %> <%= link_to new_tournament_team_path(remote_tournament_id: notification.notifiable.remote_tournament.id, facility_id: notification.notifiable.facility_id) do %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_tournament_invite_path(notification.notifiable, accepted: 2) do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </li>
    <% else %>
      <%= "Accept Game Request from #{notification.notifiable.facility.CompanyName}?" %> <%= link_to edit_game_request_path(notification.notifiable, accepted: 1) do %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_game_request_path(notification.notifiable, accepted: 2) do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% end %>
</ul>
