<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :CompanyName, 'Company Name', default_order: :desc) %></th>
      <th><%= sort_link(@q, :Phone, 'Phone Number', default_order: :desc) %></th>
      <th><%= sort_link(@q, :name, 'Email', default_order: :desc) %></th>
      <th>Challenge</th>
    </tr>
  </thead>
  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.CompanyName %></td>
        <td><%= facility.Phone %></td>
        <td><%= facility.Email %></td>
        <td>
          <%= link_to new_game_request_path(facility_id: facility.SId) do %>
            Send a Game Request <%= fa_icon("send")%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
