<h1><%= @facility.CompanyName %> <%= " - #{@facility.State}" if @facility.State.present? %></h1>
<br/>
<h3>Company Details</h3>
<ul>
  <li>Email: <%= @facility.Email %></li>
  <li>Address: <%= "#{@facility.AddressLine1}" %> <%= ", #{@facility.AddressLine2}" if @facility.AddressLine2.present? %></li>
  <li>Country: <%= @facility.Country %></li>
  <li>Contact Number: <%= @facility.Phone %></li>
  <li>Website: <%= @facility.Website %></li>
</ul>
<% binding.pry %>
