<% provide(:title, "Opt into remote gaming") %>
<h2>Please fill out some items that will help others find you for Remote Gaming<h2>
<% @facility_availabilities.each_with_index do |day, index| %>
  <%= form_for(day, html: {style: "form-horizontal"}) do |f| %>
      <% if index == 0 %>
        <!-- <span><%= f.label "Hours of Operation" %></span> -->
      <% end %>
      <%= f.time_select :hours_start_time, default: Time.parse('9:00') %>
      <%= f.time_select :hours_end_time, default: Time.parse('21:00') %>
      <% if index == 0 %>
        <!-- <span><%= f.label "Best Online Game Availability" %></span> -->
      <% end %>
      <%= f.time_select :availability_start_time, default: Time.parse('9:00') %>
      <%= f.time_select :availability_end_time, default: Time.parse('21:00') %>
      <% if index == 0 %>
        <!-- <span><%= f.label "Preferred Online Availability timespan" %></span> -->
      <% end %>
      <%= f.time_select :preferred_start_time, default: Time.parse('9:00') %>
      <%= f.time_select :preferred_end_time, default: Time.parse('21:00') %>
      <%= f.hidden_field :day, value: index + 1 %>
      </div>
    </div>
    </br>
  <% end %>
<% end %>
